<!DOCTYPE html>
<html lang="ja">
<head>
  {% include 'partial/meta/_dochead.njk' -%}
  <!-- GTMタグなど -->
</head>
<body>
  <!-- GTMタグなど -->
  {% include 'partial/global/_header.njk' -%}
  {% block contents -%}{%- endblock %}
  {% include 'partial/global/_footer.njk' -%}
  {%- block js -%}{%- endblock %}
</body>
</html>