{% extends 'layout/_default.njk' %}
{% set pageT = 'サイトトップ' %}
{% set pageD = 'GTディスクリプション' %}
{% set pageK = 'キーワード1,キーワード2' %}
{% set ogType = 'website' %}

{% block contents -%}
  <p>Contents</p>
{%- endblock %}

{% block js -%}
  <script src="/assets/js/common.js"></script>
{%- endblock %}